.container{
  padding: 10px;
}
#header{
  padding:50px;
  padding-bottom: 10px;
  background-color: rgb(68, 114, 196);
  padding-left: 20px;
  text-align: center;
  justify-content: center;
  display:grid;
  clear: both;
}
#pg_name{
  background-color: #ffae00;
  text-align: center;
}
#name{
  color: black;
}
#th1{
  background-color: red;
}
ul#actionplan{
  list-style: none;
  margin-left: 0px;

}
#tab1{
  margin-left:0;
}
#footer{
  background-color: black;
  clear: both;
  height: auto;
}
#footnote{
color: white;
}