

#operations,#people,#brand{
  color: black;
  background-color:red;
  display:grid;
  justify-content: space-around;
  margin-right:50px;
  padding: 10px;
}
#recom #strat #imp{
  background-color: rgb(68, 114, 196);
}
#btn1{
  display:flex;
  list-style: none;
  justify-content:space-between;
  padding:5px;
}
th{
    background-color: red;
}
#footer{
  background-color: black;
  clear: both;
  height: auto;
}
#footnote{
color: white;
}