{% extends 'dashboard/template.html' %}
{% load staticfiles %}
{% block link %}<link rel="stylesheet" href="{% static "/css/tables_master.css" %}"/>{% endblock link %}
{% block main1 %}
<form method="POST">
    {% csrf_token %}
    <div id="table1">
        <table style="max-width:300px;" >
            <thead id="theader">
                <tr>
                    <th align="center" colspan="2">Summary of Indicators</th>
                </tr>
                <tr>
                    <th>Sr No.</th>
                    <th>Indicators</th>
                </tr>
            </thead>
            {% for indi in indi_list  %}
            <tr>
                <td align="center"> {{indi.id}} </td>
                <td><a href="{% url 'indi_form' %}">{{indi.indicators}}</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td align="center" colspan="2">
                <a href="{% url 'indi_form' %}"><input type="button" value="Add"></a></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input id="submit" type="submit" value="Submit"></td>
            </tr>
        </table>
    </div>
</form>
{% endblock main1 %}
