{% extends 'dashboard/template.html' %}
{% load staticfiles %}
{% block title %} <title>Strategy</title> {% endblock title %}
{% block link  %} <link rel="stylesheet" href="{% static "/css/strategy_page_bs.css"%}">{% endblock link %}

{% block btn %}
<ul id="btn1">
  <li><a id="operations" href="http://127.0.0.1:8000/dashboard/operations">Operations</a></li>
  <li><a id="people" href="http://127.0.0.1:8000/dashboard/people">People</a></li>
  <li><a id="brand" href="http://127.0.0.1:8000/dashboard/brand">Brand</a></li>
  </ul>
{% endblock btn %}

{% block page %}
<h3 id="name">Strategy</h3>
{% endblock page %}

{% block main1 %}
  <form method='get'> 
    <table id="tab1"class="">
      <tr id="th1">
        <th>Business Strategy</th>
      </tr>
      <tr id="th2">
        <th><a>Goals</a> </th>
        <th><a>Category</a> </th>
      </tr>
      <tr>
        <td> <input type="text" name="" value=""> </td>
        <td> <input type="text" name="" value=""> </td>
      </tr>
    </table>
    <button type="submit" value="SUBMIT">SUBMIT</button>
  </form>
    <div class="table1">
      <form>
        <table id="tab2" class="">
          <tr id="th1">
            <th>D&I Strategy</th>
          </tr>
          <tr id="th2">
            <th>Goal</th>
            <th>Category</th>
            <th id="kpi">KPI</th>
          </tr>
          <tr>
            <td> <input type="text" name="" value=""> </td>
            <td> <input type="text" name="" value=""> </td>
            <td> <input type="text" name="" value=""> </td>
          </tr>
        </table>
        <button type="submit" value="SUBMIT">SUBMIT</button>
      </form>
    </div>
  {% endblock main1 %}

